body {
    background: #242729 none repeat scroll 0 0;
    color: #ffffff;
    text-align: center;
    font-family: 'PT Sans Caption', sans-serif;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 280px;
    min-height: 420px;
}

.image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.name {
    font-size: 25px;
    font-weight: 500;
    margin-top: 18px;
}

.title {
    font-size: 20px;
    font-weight: 400;
    margin-top: 25px;
}

.social-div {
    margin-top: 18px;
}

.social-elem {
    margin: 10px;
    width: 32px;
    height: 32px;
}